node_modules/
data/
.env
.env2
*.log
dist/
.deepseek/
sessions/
public/test*.html
check_db.*
_*.mjs
_*.ts

# 会话导出文件
*.deepseek-session.json
807c3269-4de8-40a4-95c0-d3f16afe0f0b.json
8ba6255f-93fc-4200-abba-c8a00a860bd2.json
